---
// 1. Script Frontmatter (Importar componentes, definir props)
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

// Definir las propiedades (Props) que recibirá este Layout
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	
	<title>{title}</title>
	<meta name="description" content={description} />
</head>
<body class="min-h-screen flex flex-col">
	
	<Header />
	
	<main class="flex-grow">
		<slot /> 
	</main>
	
	<Footer />

</body>
</html>

<style is:global>
	/* Aquí puedes añadir estilos globales de CSS si es necesario */
	/* Ejemplo: establecer la fuente por defecto */
	body {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
	}
</style>